/* dtelnet.rc */

#include <windows.h>

#include "resource.h"
#include "version.h"

IDM_TELNET_MENU MENU
{
 POPUP "&Connect"
 {
  MENUITEM "&Remote System...", ID_CONNECT_REMOTE_SYSTEM
  MENUITEM "&Disconnect", ID_CONNECT_DISCONNECT
  MENUITEM "&Proxy Settings...", ID_CONNECT_PROXY
  MENUITEM "&Exit On Disconnect", ID_CONNECT_EXIT_DISCONNECT
  MENUITEM "E&xit", ID_EXIT
  MENUITEM SEPARATOR
  MENUITEM "&New Window", ID_CONNECT_NEW
  MENUITEM "Re&connect",  ID_CONNECT_RECONN
 }

 POPUP "&Edit"
 {
  MENUITEM "&Copy\tCtrl+Insert", ID_EDIT_COPY
  MENUITEM "&Paste\tShift+Insert", ID_EDIT_PASTE
  MENUITEM SEPARATOR
  MENUITEM "Auto-Copy Selection", ID_EDIT_AUTO_COPY, CHECKED
  POPUP "&Local Editor"
  {
    POPUP "&Cursor Movement"
    {
      MENUITEM "&Free",      ID_CM_FREE
      MENUITEM "&Text only", ID_CM_TEXT
    }
  }
 }

 POPUP "&Favorites"
 {
  MENUITEM "&Add to Favorites", ID_ADD_TO_FAVORITES
  MENUITEM "&Manage Favorites ...", ID_MANAGE_FAVORITES
  MENUITEM SEPARATOR
 }

 POPUP "&Terminal"
 {
  MENUITEM "&Font...", ID_TERMINAL_FONT
  MENUITEM "&Bottom on output", ID_TERMINAL_BOTTOM_ON_OUTPUT
  POPUP "C&ursor Style"
  {
   MENUITEM "&Block", ID_TERMINAL_CS_BLOCK
   MENUITEM "&Underline", ID_TERMINAL_CS_UNDERLINE
   MENUITEM "&Vertical line", ID_TERMINAL_CS_VERTLINE
  }
  MENUITEM SEPARATOR
  POPUP "&Emulate"
  {
   MENUITEM SEPARATOR
  }
  POPUP "Server&Charset"
  {
   MENUITEM "&UTF8", ID_TERMINAL_SERVER_UTF8
   MENUITEM "&ANSI", ID_TERMINAL_SERVER_ANSI
   MENUITEM "&OEM",  ID_TERMINAL_SERVER_OEM
  }
  POPUP "Keyboard" {
    MENUITEM "Alt &Backspace", ID_TERMINAL_BACKSPACE_ALT
    MENUITEM "VT-style remap", ID_TERMINAL_VT_KEY_MAP
  }
  POPUP "Mouse" {
    MENUITEM "Paste with &Middle Button", ID_TERMINAL_MOUSE_PASTE_M
    MENUITEM "Paste with &Right Button",  ID_TERMINAL_MOUSE_PASTE_R
  }
  MENUITEM "&TERM Definitions ...", ID_TERMINAL_DEFINITION
  POPUP "Colors..." {
      MENUITEM "Foreground", ID_COLOR_FORE
      MENUITEM "Background", ID_COLOR_BACK
      MENUITEM "Emph.Foregrnd", ID_COLOR_EMP_FORE
      MENUITEM "Emph.Backgrnd", ID_COLOR_EMP_BACK
      MENUITEM SEPARATOR
      MENUITEM "Load from INI", ID_COLOR_LOAD
      MENUITEM "Save to INI",   ID_COLOR_SAVE
  }
  MENUITEM SEPARATOR
  MENUITEM "St&art Logging...", ID_TERMINAL_START_LOGGING
  MENUITEM "St&op Logging", ID_TERMINAL_STOP_LOGGING
  MENUITEM "Log &Session", ID_TERMINAL_LOG_SESSION
  MENUITEM "Log &Protocol", ID_TERMINAL_LOG_PROTOCOL

  MENUITEM SEPARATOR
  POPUP "P&rinting"
  {
	MENUITEM "Preferences...", ID_TERMINAL_PRINTPREF
        MENUITEM "Enable xterm-style &attached printer", ID_TERMINAL_ATTPRINT
        MENUITEM "Enable Print&Screen", ID_TERMINAL_ENABLE_PRINTSCR
  }
  MENUITEM "Print Screen", ID_TERMINAL_PRINTSCREEN
  MENUITEM SEPARATOR
  POPUP "Special" {
	MENUITEM "Enable local e&xecute", ID_ENABLE_LOCAL_EXECUTE
  }
 }
 POPUP "&Help"
 {
  MENUITEM "&Contents", ID_HELP_CONTENTS
/*MENUITEM "&How To Use Help", ID_HELP_HELP*/
  MENUITEM SEPARATOR
  MENUITEM "&About Dave's Telnet...", ID_HELP_ABOUT
 }
}

IDD_ABOUT_DIALOG DIALOG DISCARDABLE  22, 17, 182, 132
STYLE WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "About Dave'sTelnet"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           DTELNET_ID1,IDC_STATIC,35,5,125,8
    LTEXT           DTELNET_ID2,IDC_STATIC,35,15,120,8
    LTEXT           "", IDC_ABOUT_INFO, 5, 30, 170, 80
    DEFPUSHBUTTON   "Close",IDOK,105,112,50,14,WS_GROUP
    ICON            IDR_TELNET,IDC_STATIC,5,5,21,20
END

IDD_CONNECT_DIALOG DIALOG 0, 0, 232, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Connect"
FONT 8, "MS Sans Serif"
{
 CONTROL "&Host:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,7,16,8
 CONTROL "", IDC_HOSTNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 30,5,135,13
 CONTROL "&Port:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,22,15,8
 CONTROL "", IDC_PORT, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 30,20,40,13
 CONTROL "P&rotocol:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 84,22,29,8
 CONTROL "", IDC_PROTOCOL, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 115,20,50,45
 CONTROL "&TERM:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,37,22,8
 CONTROL "", IDC_TERM, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 30, 35, 60, 80
 CONTROL "&User:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 94,38,22,8
 CONTROL "", IDC_USER, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115,35,40,13
 CONTROL "Alt. &Backspace", IDC_BS2DEL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 30,50,60,10
// CONTROL "Server Char&Set", -1, "BUTTON", BS_GROUPBOX, 140,50,60,32
// CONTROL "ANSI", IDC_CS_ANSI, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 146, 58, 28, 12
// CONTROL "OEM", IDC_CS_OEM, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 146, 68, 28, 12
 CONTROL "Server Char&set:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 100,51,55,10
 CONTROL "", IDC_CHARSET, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 155,50,70,65
 CONTROL "O&K", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175,7,50,14
 CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175,24,50,14
 CONTROL "Local Exec", IDC_LOCEXEC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 30,60,50,10

 GROUPBOX "&NumPad mode", -1, 8, 72, 124, 34
   LTEXT     "Top4:", -1,                   14, 83, 30,  8
   AUTORADIOBUTTON "Num",  IDC_KPAM0_NUM,   40, 81, 30, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
   AUTORADIOBUTTON "Appl", IDC_KPAM0_APPL,  70, 81, 30, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
   AUTORADIOBUTTON "var",  IDC_KPAM0_VAR,  100, 81, 28, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE

   LTEXT     "Rest:", -1,                   14, 94, 30,  8
   AUTORADIOBUTTON "Num",  IDC_KPAM1_NUM,   40, 92, 30, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
   AUTORADIOBUTTON "Appl", IDC_KPAM1_APPL,  70, 92, 30, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
   AUTORADIOBUTTON "var",  IDC_KPAM1_VAR,  100, 92, 28, 12, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE

 GROUPBOX "&VMS/VT-keys", -1, 8, 108, 92, 24
   AUTOCHECKBOX  "Map editing keypad", ID_TERMINAL_VT_KEY_MAP, 14, 116, 78, 14
 }

IDD_FONT_DIALOG DIALOG DISCARDABLE  0, 0, 275, 137
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Terminal Font"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT     "&Name", -1,              5,   5, 30,  8
    LISTBOX   IDC_FONT_NAME,            5,  15, 85, 75, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT     "", IDC_R_FONT_NAME,      5,  92, 85,  8
    LTEXT     "", IDC_O_FONT_NAME,      5, 100, 85,  8
    LTEXT     "&Size", -1,             95,   5, 30,  8
//  LISTBOX   IDC_FONT_SIZE,           95,  15, 30, 75, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX  IDC_FONT_SIZE,           95,  15, 30, 75, CBS_NOINTEGRALHEIGHT | CBS_SIMPLE | WS_VSCROLL | WS_TABSTOP
    LTEXT     "", IDC_R_FONT_SIZE,     95,  92, 30,  8
    LTEXT     "", IDC_O_FONT_SIZE,     95, 100, 30,  8
    LTEXT     "&CharSet", -1,         130,   5, 30,  8
    LISTBOX   IDC_FONT_CHARSET,       130,  15, 65, 75, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT     "", IDC_R_FONT_CHARSET, 130,  92, 50,  8
    LTEXT     "", IDC_O_FONT_CHARSET, 130, 100, 50,  8
    LTEXT     "", IDC_R_FONT_SIZEDBG, 200,  92, 80,  8
    LTEXT     "", IDC_O_FONT_SIZEDBG, 200, 100, 80,  8
    DEFPUSHBUTTON  "Close",IDOK,      200,  15, 50, 14
    AUTOCHECKBOX  "&More CharSets", IDC_FONT_MORECS, 200, 29, 65, 14
    AUTOCHECKBOX  "&Bold Font",     IDC_FONT_BOLD,   200, 39, 65, 14
    GROUPBOX        "Which font",   IDC_STATIC,      200, 52, 60, 32
	AUTORADIOBUTTON "&Primary",	IDC_FONT_PRIMARY,   203, 61, 50, 12, BS_AUTORADIOBUTTON | WS_GROUP
	AUTORADIOBUTTON "S&econdary",	IDC_FONT_SECONDARY, 203, 71, 50, 12, BS_AUTORADIOBUTTON
//  LTEXT     "Keyboard codepage is not known",             IDC_FONT_KBCP,    45, 110, 200,  8
    LTEXT     "System's default ANSI charset is not known", IDC_FONT_ACP,     45, 118, 200,  8
    LTEXT     "System's OEM charset is not known",          IDC_FONT_OEMCP,   45, 126, 200,  8
END

IDD_TERMINAL_DEFINITION DIALOG 0, 0, 369, 192
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Define Terminal"
FONT 8, "MS Sans Serif"
{
 CONTROL "Close", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 170, 50, 14
 CONTROL "ComboBox1", IDC_COMBOBOX1, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 9, 24, 81, 79
 LTEXT   "Name (TERM=)",IDC_STATIC,9,37,81,12
 EDITTEXT  IDC_TOSERVER,9,47,81,12
 CONTROL "Modify", IDC_BUTTON1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 170, 50, 14
 CONTROL "Save",   IDC_BUTTON2, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 66, 170, 50, 14

 CONTROL "Function Keys", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 10, 164, 177
 CONTROL "Keypad", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 98, 68, 94, 95
 CONTROL "Special Keys", IDC_GROUPBOX3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 97, 9, 95, 54
 CONTROL "Features", IDC_GROUPBOX4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 101, 85, 62
 CONTROL "Number of Function keys", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 205, 22, 90, 8
 CONTROL "", IDC_NFFUNCKEYS, "combobox", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 290, 19, 34, 35

 CONTROL "Key F1", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 37, 28, 8
 CONTROL "", IDC_KEYF1, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 35, 39, 12
 CONTROL "Key F2", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 49, 28, 8
 CONTROL "", IDC_KEYF2, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 47, 39, 12
 CONTROL "Key F3", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 61, 28, 8
 CONTROL "", IDC_KEYF3, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 59, 39, 12
 CONTROL "Key F4", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 73, 28, 8
 CONTROL "", IDC_KEYF4, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 71, 39, 12
 CONTROL "Key F5", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 85, 28, 8
 CONTROL "", IDC_KEYF5, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 83, 39, 12
 CONTROL "Key F6", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 97, 28, 8
 CONTROL "", IDC_KEYF6, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 95, 39, 12
 CONTROL "Key F7", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 109, 28, 8
 CONTROL "", IDC_KEYF7, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 107, 39, 12
 CONTROL "Key F8", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 121, 28, 8
 CONTROL "", IDC_KEYF8, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 119, 39, 12
 CONTROL "Key F9", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 133, 28, 8
 CONTROL "", IDC_KEYF9, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 131, 39, 12
 CONTROL "Key F10", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 145, 28, 8
 CONTROL "", IDC_KEYF10, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 143, 39, 12
 CONTROL "Key F11", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 157, 28, 8
 CONTROL "", IDC_KEYF11, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 155, 39, 12
 CONTROL "Key F12", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 169, 28, 8
 CONTROL "", IDC_KEYF12, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 167, 39, 12

 CONTROL "Key F13", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 37, 28, 8
 CONTROL "", IDC_KEYF13, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 35, 39, 12
 CONTROL "Key F14", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 49, 28, 8
 CONTROL "", IDC_KEYF14, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 47, 39, 12
 CONTROL "Key F15", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 61, 28, 8
 CONTROL "", IDC_KEYF15, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 59, 39, 12
 CONTROL "Key F16", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 73, 28, 8
 CONTROL "", IDC_KEYF16, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 71, 39, 12
 CONTROL "Key F17", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 85, 28, 8
 CONTROL "", IDC_KEYF17, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 83, 39, 12
 CONTROL "Key F18", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 97, 28, 8
 CONTROL "", IDC_KEYF18, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 95, 39, 12
 CONTROL "Key F19", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 109, 28, 8
 CONTROL "", IDC_KEYF19, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 107, 39, 12
 CONTROL "Key F20", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 121, 28, 8
 CONTROL "", IDC_KEYF20, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 119, 39, 12
 CONTROL "Key F21", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 133, 28, 8
 CONTROL "", IDC_KEYF21, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 131, 39, 12
 CONTROL "Key F22", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 286, 145, 28, 8
 CONTROL "", IDC_KEYF22, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 143, 39, 12
 CONTROL "Key F23", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 157, 28, 8
 CONTROL "", IDC_KEYF23, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 155, 39, 12
 CONTROL "Key F24", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 169, 28, 8
 CONTROL "", IDC_KEYF24, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 167, 39, 12

 CONTROL "Key PgUp", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 86, 36, 8
 CONTROL "", IDC_KPGUP, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 84, 39, 12
 CONTROL "Key PgDn", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 98, 36, 8
 CONTROL "", IDC_KPGDN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 96, 39, 12
 CONTROL "Key Home", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 110, 36, 8
 CONTROL "", IDC_KHOME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 108, 39, 12
 CONTROL "Key End", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 122, 36, 8
 CONTROL "", IDC_KEND, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 120, 39, 12
 CONTROL "Key Ins", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 134, 36, 8
 CONTROL "", IDC_KINS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 132, 39, 12
 CONTROL "Key Del", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 147, 36, 8
 CONTROL "", IDC_KDEL, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 144, 39, 12
 CONTROL "Select definition to edit", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 11, 84, 8
 CONTROL "Backspace", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 22, 36, 8
 CONTROL "", IDC_KBS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 21, 39, 12
 CONTROL "Alt Bksp", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 34, 36, 8
 CONTROL "", IDC_KABS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 32, 39, 12
 CONTROL "BackTab", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 46, 36, 8
 CONTROL "", IDC_KBTAB, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 45, 39, 12
 CONTROL "Support gpm mouse", IDC_CKMOUSE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 110, 77, 12
 CONTROL "G1 Charset switch :", IDC_CKPARO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 122, 76, 12
 CONTROL "linux style", IDC_RPARO_LINUX, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 137, 60, 11
 CONTROL "vt320 style", IDC_RPARO_VT320, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 149, 60, 12
}

IDD_TERMNAME DIALOG 0, 0, 145, 45
STYLE DS_MODALFRAME  | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Emulation"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 26, 50, 14
 CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 26, 50, 14
 CONTROL "", IDC_TERMNAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 5, 69, 12
 CONTROL "TERM name :", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 55, 8
}

IDD_PRINTING_PREF DIALOG DISCARDABLE  80, 20, 173, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Printing Preferences"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,111,42,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,111,59,50,14
    RTEXT           "Left:",IDC_STATIC,18,55,30,8
    RTEXT           "Top:",IDC_STATIC,18,70,30,8
    RTEXT           "Right:",IDC_STATIC,18,85,30,8
    RTEXT           "Bottom:",IDC_STATIC,18,100,30,8
    EDITTEXT        IDC_PRINTPREF_MLEFT,56,53,29,12,ES_NUMBER
    EDITTEXT        IDC_PRINTPREF_MTOP,56,68,29,12,ES_NUMBER
    EDITTEXT        IDC_PRINTPREF_MRIGHT,56,83,29,12,ES_NUMBER
    EDITTEXT        IDC_PRINTPREF_MBOTTOM,56,98,29,12,ES_NUMBER
    GROUPBOX        "Margins",IDC_STATIC,12,38,88,81
    COMBOBOX        IDC_PRINTPREF_PRINTERS,13,18,148,54,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Printer",IDC_STATIC,17,7,139,8
END

IDD_PRINTING_DIALOG DIALOG DISCARDABLE  30, 20, 214, 29
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Printing ..."
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,145,7,58,15,BS_CENTER
    LTEXT           "Printing, please wait ...",IDC_STATIC,12,10,121,8
END

IDD_MANAGE_FILETYPE DIALOG 40, 20, 257, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Manage Connection Profiles"
FONT 8, "MS Sans Serif"
{
 CONTROL "Close", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198,174,50,14
 CONTROL "ListBox1", ID_FAV_LISTBOX, "listbox", LBS_STANDARD | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128,41,120,106
 CONTROL "Modify", ID_FAV_MOD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42,64,45,14
 CONTROL "New", ID_FAV_NEW, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42,46,45,14
 CONTROL "Delete", ID_FAV_DEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42,82,45,14
 CONTROL "Refresh", ID_FAV_REFRESH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42,100,45,14
 CONTROL "Register Association", ID_FAV_REGASSOC, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15,124,98,14
 CONTROL "host.domain.com:23 TERM:linux telnet OEM", ID_FAV_INFO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 15,154,223,10
 CONTROL "Here you can manage your most frequently accessed telnet sites.", ID_FAV_LABEL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 41,17,205,10
 CONTROL "Favorites", IDC_STATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 34,6,203,9
 GROUPBOX "",IDC_STATIC,-2,-10,261,43
 ICON IDR_TELNET_SHORTCUT,IDC_STATIC,7,6,21,20
 GROUPBOX "",IDC_STATIC,8,144,241,25
}

IDD_PROXY_DIALOG DIALOG DISCARDABLE  0, 0, 171, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Proxy Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,33,119,49,14
    PUSHBUTTON      "Cancel",IDCANCEL,89,119,49,14
    COMBOBOX        IDC_PROXY_PROTOCOL,28,10,115,78,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Settings",IDC_STATIC,11,30,149,82
    RTEXT           "Hostname:",IDC_STATIC,23,48,37,8
    RTEXT           "User ID:",IDC_STATIC,23,63,37,8
    RTEXT           "Password:",IDC_STATIC,23,77,37,8
    RTEXT           "Port:",IDC_STATIC,23,91,37,8
    EDITTEXT        IDC_PROXY_HOSTNAME,67,46,77,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROXY_USERID,67,61,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROXY_PASSWORD,67,75,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROXY_PORT,67,90,27,12,ES_NUMBER
END

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_TELNET              ICON    DISCARDABLE     "RES\\DTELNET.ICO"
IDR_TELNET_SHORTCUT     ICON    DISCARDABLE     "RES\\FILETYPE.ICO"

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

